* {
  all: unset;
}

.topbar {
  color: white;
  font-size: 16px;
  border-radius: 20px;
  padding: 0 12px 0 15px;
  background: rgba(5, 5, 5, 0.6);
}

scale {
  trough {
    background-color: rgba(5, 5, 5, 0.2);
    min-height: 10px;
    min-width: 115px;
    border-radius: 10px;

    highlight {
      background-color: rgba(5, 5, 5, 0.6);
      border-radius: 10px;
      min-height: 10px;
      min-width: 15px;
    }
  }
}

.icon {
  font-family: "Material Icons Outlined";
  font-size: x-large;
}

.slider-button {
  margin-left: 5px;
}

.separator {
  color: #3f3f46;
  font-weight: bold;
  font-size: 24px;
  margin: 0px 11px 0px 11px;
}

.volume_is_false {
  color: #7dd3fc;
}

.volume_is_true {
  background-color: #7dd3fc;
  margin: 5px 0 5px 0;
  padding: 0 6px 0 8px;
  border-radius: 16px;
  color: black;
}

.power_is_false {
  color: #a7f3d0;
}

.power_is_true {
  background-color: #a7f3d0;
  margin: 5px 0 5px 0;
  padding: 0 6px 0 8px;
  border-radius: 16px;
  color: black;
}

.wifi {
  color: #fde68a;
}
