// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #0a0a0a;

window {
  background: transparent;
}

window.Bar {
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    // border-radius: 10px;
    // margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }

  .fa {
    min-width: 100px;
  }
}

.workspaces box {
  all: unset;

  color: #e0e7ff;
  background-color: #6366f1;

  font-size: 13px;

  margin-top: 8px;
  margin-bottom: 8px;

  min-height: 20px;
  border-radius: 10px;

  padding: 0 5px;

  &.empty {
    opacity: 0.7;
  }

  &.active {
    min-width: 40px;
    min-height: 20px;
  }

  &.focused {
    background-color: #fbbf24;
    color: #92400e;
  }
}

.icon {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.backdrop {
  background: rgba($bg-color, 0.4);
}

.tray {
  button {
    all: unset;
  }
}

popover contents {
  background: transparent;
  padding: 0;
  box-shadow: none;
  border: none;
}

.icons {
  background: $bg-color;
}
