// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #0a0a0a;

.icon {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

// button {
//   all: unset;
// }

window {
  background: transparent;

  .backdrop {
    background: rgba($bg-color, 0.4);
  }
}

separator {
  background: #404040;
  min-height: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

popover {
  contents {
    background: $bg-color;
  }

  &.top-popover > contents {
    background: transparent;
    padding: 0;
    box-shadow: none;
    border: none;
  }
}

window.Bar {
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }

  .fa {
    min-width: 100px;
  }
}

.osd {
  background: $bg-color;

  padding: 8px;
  padding-left: 10px;
  border-radius: 14px;

  .icon {
    font-size: 20px;
  }

  scale {
    &.muted {
      opacity: 0.5;
    }

    slider {
      opacity: 0;
    }
  }
}

.workspaces box {
  all: unset;

  color: #e0e7ff;
  background-color: #6366f1;

  font-size: 13px;

  margin-top: 8px;
  margin-bottom: 8px;

  min-height: 20px;
  border-radius: 10px;

  padding: 0 5px;

  &.empty {
    opacity: 0.7;
  }

  &.active {
    min-width: 40px;
    min-height: 20px;
  }

  &.focused {
    background-color: #fbbf24;
    color: #92400e;
  }
}

.tray {
  button {
    all: unset;
  }

  popover.menu {
    // Pin/Unpin button
    stack > box > box > box:last-child modelbutton {
      background: rgb(165, 180, 252, 0.1);
      color: #818cf8;
      border: 1px solid rgba(165, 180, 252, 0.2);
      border-radius: 20px;

      &:hover {
        background: rgb(165, 180, 252, 0.2);
        border-color: rgba(165, 180, 252, 0.3);
      }
    }
  }
}

.icons {
  background: $bg-color;
}

.main-box {
  background-color: $bg-color;
}

calendar {
  label:selected {
    background: inherit;
  }

  .today,
  .today:selected {
    background-color: green;
  }
}

.audio-box {
  padding: 10px;
}
