// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;

  > centerbox {
    background: $bg-color;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }

  .circular {
    all: unset;
    background-color: red;
    min-width: 12px;
    min-height: 12px;
    border-radius: 50%;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .fa {
    min-width: 100px;
  }
}
